* {
  text-transform: capitalize;
}

.fixedImage {
  background-image: url('../images/fixed2.jpg');
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-attachment: fixed;
}

.icons ul {
  list-style: none;
  z-index: 1000;
}

.card {
  cursor: pointer;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  display: flex;
}

.overlay2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  display: flex;
}

.card:hover .overlay {
  width: 100%;
  height: 100%;
  opacity: 0.45;
}

.card:hover .overlay2 {
  width: 100%;
  height: 100%;
  opacity: 0.45;
}


.line {
  width: 12vw;
  height: 0.5vh;
  background-color: aqua;
  margin: 7px 0px 12px 0px;
}


.xxx::-webkit-scrollbar {
  display: none;
}

.main_photo {
  width: 100%;
  height: 95vh;
}

@media (max-width: 576px) {
  .main_photo {
    height: 75vh;
  }
}


.back,
.back2,
.back4 {
  background-image: url("../images/person3.jpg");
  background-size: cover;
  opacity: 0.7;
  position: absolute;
  z-index: -1;
  border-radius: 15%;
}

.back2 {
  background-image: url("../images/person1.jpg");
}

.back4 {
  background-image: url("../images/person4.jpg");
}

.people {
  transition: all 1s;
  position: relative;
}

.people:hover {
  transform: scale(0.9);
}


.people {
  width: 60%;
}

@media (max-width: 3000px) {
  .people {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .people {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .people {
    width: 70%;
  }
}

footer {
  background-color: rgb(29, 127, 166);
}